<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>responses</title>
</head>
<body>
    {% for q in questions %}
    <br><br>Question text from question loop is: {{q.questiontext}}<br><br>


    {% for a in listofanswers %}
    {% if q.questiontext == a.questionid.questiontext %}

    Answers to that question we know are : {{a.answerdata}} submitted by {{a.userid}} <br>
    {% endif %}

    {% endfor %}
    
    
    
    {% endfor %}
    
    
</body>
</html>